<%= form_tag("/search", :method => "get", remote: true) do %>


  <div class="field">
    <%= label_tag (:artist) %><br />
    <%= text_field_tag (:artist) %>
  </div>

  <div class="actions">

    <%= submit_tag "Search" %>
  </div>
<% end %>
