<h1>New search</h1>

<%= render 'form' %>

<%= link_to 'Back', searches_path %>


<iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,
3L7BcXHCG8uT92viO6Tikl,
4bi73jCM02fMpkI11Lqmfe"


width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


