.image-container {
            width: 240px;
            height: 240px;
            background-size: cover;
            background-image:"http://i.stack.imgur.com/2OrtT.jpg";
            background-repeat: no-repeat;
            background-position: 50% 50%;
            float:left;
}

#results {
	margin-right: auto;
	margin-left: auto;
}