<div class="playlist-form">
  <%= form_for([current_user, @playlist]) do |t| %>
    <%= t.label :title %>
    <%= t.text_field :title %>

    <%= t.submit "Create Playlist", class: "btn btn-large btn-primary" %>

  <% end %>

  <h4><a href="/" class="btn">Actually I want to go back to search.</a></h4>
</div>