<html>
  <head>
    <title>Artist Images</title>
   </head>
   <script type="text/javascript">
    var artist = <%= @random_artist %>;
   </script>
<body>
	<div class="container">
    	<div class="well offset1 span9" >
        	<h2> Artist Images </h2>
            <div>
                <input id="artist" type="text" placeholder="Enter artist name ..." </input>
                <button id="go" class="btn btn-primary"> Get Images </button>
            </div>
            <div id="info" class=""> </div>
    	</div>
	</div>

<div id="results" data-artist="<%= @random_artist %>">
</div>

<!-- <div id="results" data-artist="u2"> -->

</body>
</html>

