
<h1 id="main_title">Give your playlist a name and let's get grooving!</h1>

<div class="playlist-form offset3">

  <%= form_for(@playlist) do |t| %>
    <%= t.label :title %>

    <%= t.text_field :title, class: "create-field" %>

    <%= t.submit "Create Playlist", class: "btn btn-primary create_playlist_btn" %>

  <% end %>

</div>