<strong><%= @playlist.title %></strong>
<%= hidden_field_tag :playlist_id, @playlist.id %>

<%= render '/searches/form' %>

<div>
  <!--
  This call the form which has a UJS Ajax call which renders the whole response and appends it into the div. See searches contoller search and the search.js.erb for more info.
   -->
  <div class="span6 pull-left" id="search-results">
    <h2>Playlist Song Candidates</h2>
  </div>

  <div class="span6 pull-right" id="songs-in-playlist" %>
    <%= render '/playlists/index' %>
  </div>
</div>
