
<%= hidden_field_tag :playlist_id, @playlist.id %>



  <h1 class="main_title">Ok let's starting searching for tunes!</h1>
  <div>
    <%= render '/searches/form' %>
  </div>

<div>
  <!--
  This call the form which has a UJS Ajax call which renders the whole response and appends it into the div. See searches contoller search and the search.js.erb for more info.
   -->
  <div class="span6 pull-left" id="search-results">
    <h2 class="sub_title">Search results</h2>
  </div>

  <div class="span6 pull-right" id="songs-in-playlist" %>
    <%= render '/playlists/index' %>
  </div>
</div>
