<strong><%= @playlist.title %></strong>

<%= render '/searches/form' %>

<!--
This call the form which has a UJS Ajax call which renders the whole response and appends it into the div. See searches contoller search and the search.js.erb for more info.
 -->

<div id="search-results">
  <h2>Playlist Song Candidates</h2>
</div>


