<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

        <style>
      body{
        background:#333 url(bg.jpg) repeat top left;
        font-family:Arial;
      }
      span.reference{
        position:fixed;
        left:10px;
        bottom:10px;
        font-size:12px;
      }
      span.reference a{
        color:#aaa;
        text-transform:uppercase;
        text-decoration:none;
        text-shadow:1px 1px 1px #000;
        margin-right:30px;
      }
      span.reference a:hover{
        color:#ddd;
      }
      ul.sdt_menu{
        margin-top:150px;
      }
      h1.title{
        text-indent:-9000px;
        background:transparent url(title.png) no-repeat top left;
        width:633px;
        height:69px;
      }
    </style>
    </head>

    <body>

    <div class="content">

      <ul id="sdt_menu" class="sdt_menu">

        <li>
          <a href="#">
            <img src="images/2.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Crowd Dj</span>
              <span class="sdt_descr">The people's Playlist</span>
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <img src="images/1.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Playlist</span>
              <span class="sdt_descr">create a playlist</span>
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <img src="images/3.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Sign In</span>
              <span class="sdt_descr">Let's starting playing</span>
            </span>
          </a>
          <div class="sdt_box">
            <a href="#">Sign In with Facebook</a>
            <img src="http://placehold.it/25x25">
          </div>
        </li>
      </ul>
    </div>


        <!-- The JavaScript -->